.embarrassing { color: pink; }
div#header { padding: 2em 0 1em; height: 200px; background-image: url('/images/80s.jpg') }
.top-spacing { padding-top: 2em; }
div#main { padding-top: 1em; }
div.header h1 span, div.header p span {
  background-color: pink;
  padding: 0.3em;
}
div#current-tapester { text-align: right; }
