<h1>Details</h1>
<ul>
<li><strong>Where:</strong> the Last Homely House east of Richmond (somewhere in Glen Iris)</li>
<li><strong>When:</strong> September 14th</li>
<li><strong>Dress code:</strong> Black tie (see above for inspiration)</li>
<li><strong>Food:</strong> To be announced</li>
<li><strong>Drink:</strong> yes</li>
</ul>

<h2>Responsibilities</h2>

<p>Manage your submissions from your <%= link_to "tapester", tapesters_path %> page.</p>

<p>Each <%= link_to "tapester", tapesters_path %> is responsible for one track on each tape. The tapes are:</p>

<%= render :partial => 'tapes/tapes', :locals => { :tapes => @tapes } %>
