<h1>Details</h1>
<ul>
<li><strong>Where:</strong> Casa Fallabria</li>
<li><strong>When:</strong> 3Sat July (17th)</li>
<li><strong>Dress code:</strong> 80s, baby!</li>
<li><strong>Food:</strong> To be announced.</li>
<li><strong>Drink:</strong> yes, including both West Coast and Island Cooler</li>
</ul>

<h2>Responsibilities</h2>
<p>Each <%= link_to "tapester", tapesters_path %> is responsible for one track on each <%= link_to "tape", tapes_path %>. The tapes are:</p>

<%= render :partial => 'tapes/tapes', :locals => { :tapes => @tapes } %>

<p>Manage your submissions from your <%= link_to "tapester", tapesters_path %> page.</p>

<p>Eddie Murphy and Rick James cant make it, but they can be found <a href="http://www.youtube.com/watch?v=m5LX16zia2k">here</a>.  Try to look away.</p>
